<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="./stylesheets/style.css" />
</head>
<body>
    <div class="links">
        <a href="/">Home</a>
        <a href="about">About</a>
        <a href="works">Works</a>
        <a href="gallery">Gallery</a>
    </div>

<div> <h1>Leonardo DaVinci Gallery</h1> 
</div>

    <div class= "images">
        
        <img src="./images/Mona_lisa.jpg" alt="Mona Lisa">
        <img src="./images/vitruvian_man.jpg" alt="vitruvian_man">
        <img src="./images/diving_suit.jpg" alt="diving_suit">
        <img src="./images/bridge.jpg" alt="bridge">
        
        <img src="./images/helicopter.jpg" alt="helicopter">
        <img src="./images/last_supper.jpg" alt="last_supper">
      
        <p> </p>
        
    </div>
</body>
</html>