<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leonardo DaVinci</title>

    <link rel="stylesheet" href="./stylesheets/style.css" />
</head>
<body>
    <div class="links">
        <a href="/">Home</a>
        <a href="about">About</a>
        <a href="works">Works</a>
        <a href="gallery">Gallery</a>
    </div>
    <div>
        <h1> This is Leonardo </h1>
        <p> Learn more about the famous polymath</p>
        <img class = "picture" src="./images/leonardo.jpg" />
    </div>


</body>
</html>