<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="./stylesheets/style.css" />
</head>

<body>
    <div class="links">
        <a href="/">Home</a>
        <a href="about">About</a>
        <a href="works">Works</a>
        <a href="gallery">Gallery</a>
    </div>
    <div>
        <h1> Works by Leonardo DaVinci </h1>
        <ul>
            <li>Inventions:
                <ul>
                    <li>Helicopter </li>
                    <li>Parachute </li>
                    <li>Diving suit </li>
                    <li>Revolving bridge </li>
                </ul>

            </li>
            <li>Paintings:
                <ul>
                    <li>Mona Lisa </li>
                    <li>The last supper </li>
                    <li>Helicopter </li>
                    <li>Salvator Mundi </li>
                </ul>
            </li>
            <li>Medical studies:
                <ul>
                    <li>Vitruvian man </li>
                    <li>Neuroanatomy </li>
                    <li>Neurophysiology</li>
                </ul>
            </li>
        </ul>

    </div>
</body>

</html>